canvas {
	position: fixed;
	top: 0;
	left: 0;
	/* cursor: none;  */
}

* {
	box-sizing: border-box;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,body {
	margin: 0;
	padding: 0;
	cursor: auto !important;
	width: 100vw;
	height: 100vh;
	display: grid;
}

body > div {
	position: absolute;
	z-index: 999;
}

.title {
	width: 80vw;
	height: 80vh;
	justify-self: center;
	align-self: center;
	background-color: beige;
	opacity: .8;
	border: solid 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#lb {
	/* align-self: start; */
	/* justify-self: start; */
}

.button {
	font-size: 40px;
	padding: 0 5px
}

#login {
	align-self: end;
}

.crosshair {
	color: green;
	font-size: 25px;
	justify-self: center;
	align-self: center;
}

.score {
	font-size: 40px;
	justify-self: end;
}

.timer {
	font-size: 40px;
	justify-self: center;
}

[ui] {
	display: none;
}