canvas {
	position: fixed;
	top: 0;
	left: 0;
	/* cursor: none;  */
}

* {
	box-sizing: border-box;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,body {
	margin: 0;
	padding: 0;
	cursor: auto !important;
}

body > div {
	position: absolute;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	display: flex;
}

.title {
	width: 80vw;
	height: 80vh;
	position: absolute;
  left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
	background-color: beige;
	opacity: .8;
	border: solid 1px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.button {
	font-size: 40px;
	padding: 0 5px
}

.button:hover {
	background-color: grey;
}

.crosshair {
	color: green;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.score {
	justify-content: end;
	align-items: start;
	font-size: 40px;
}

.timer {
	justify-content: center;
	align-items: start;
	font-size: 40px;
}

[ui] {
	display: none;
}